/* Global styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Aleta-Medium, sans-serif;
	color: white;
}

@font-face {
	font-family: Aleta-Bold;
	src: url(fonts/BwAleta-Bold.otf);
}

@font-face {
	font-family: Aleta-Regular;
	src: url(fonts/BwAleta-Regular.otf);
}

@font-face {
	font-family: Aleta-Medium;
	src: url(fonts/BwAleta-Medium.otf);
}

html,
body {
	height: 100%;
	width: 100%;
}

/* Main container */
#main {
	height: 85%;
	width: 100%;
	background-color: #111;
	display: flex;
	padding: 5vw 10vw;
	display: flex;
	justify-content: center;
	align-items: center;

	/* Dark mode colors and gradient */
	background: #121212; /* Fallback for browsers that don't support gradients */
	background: linear-gradient(
		135deg,
		#121212 25%,
		#1a1a1a 25%,
		#1a1a1a 50%,
		#121212 50%,
		#121212 75%,
		#1a1a1a 75%,
		#1a1a1a
	);
	background-size: 40px 40px;

	/* Animation */
	animation: move 4s linear infinite;
}

@keyframes move {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 40px 40px;
	}
}

/* Left side (poster) */
#left {
	height: 100%;
	width: 45%;
	background-color: #333;
	background-size: cover;
	background-position: center;
	border-radius: 50px;
}

/* Right side (songs list) */
#right {
	height: 100%;
	width: 55%;
	padding: 0 3vw;
}

#right h3 {
	font-size: 40px;
}

#all-songs {
	height: 85%;
	margin-top: 30px;
	overflow-y: scroll;
	scrollbar-width: none; /* Hide scrollbar in Firefox */
	-ms-overflow-style: none; /* Hide scrollbar in Internet Explorer */
}

#all-songs::-webkit-scrollbar {
	display: none; /* Hide scrollbar in WebKit browsers */
}

/* Song card */
.song-card {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid #5a5a5a;
	padding: 15px 15px;
}

.song-card:nth-last-child(1) {
	border-bottom: 1px solid #5a5a5a;
}

.song-card:hover {
	background-color: #5a5a5a;
	border-radius: 10px;
}

.song-card img {
	width: 55px;
	height: 55px;
	margin-right: 20px;
}

.song-card h2 {
	font-size: 20px;
}

.song-card h6 {
	font-size: 14px;
}

.song {
	display: flex;
	align-items: center;
	pointer-events: none;
}

/* Player controls */
#player {
	height: 15%;
	width: 100%;
	background-color: rgb(0, 0, 0);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 35px;
}

#player h3 {
	background-color: rgb(108, 104, 104);
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

#player h3 i {
	font-size: 30px;
}

#player h3:active {
	scale: 0.93;
}

/* Media queries */
@media only screen and (max-width: 768px) {
	#main {
		flex-direction: column;
		padding: 5vw;
	}

	#left {
		width: 100%;
		height: auto;
	}

	#right {
		width: 100%;
		padding: 0;
	}

	#right h3 {
		font-size: 30px;
	}
}
